form {
  position:absolute;
  top:25%;

  label {
    padding-left: 5%;
  }
  h1 {
    text-align: center;
  }
  #forgot-password {
    text-align: center;
    text-decoration: none;
  }
  .input-group {
    width: 90%;
    left: 5%;
    input {
      background: transparent;
    }
  }

}
@media screen and (min-width:472px) {
  form {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webki-transform:translate(-50%,-50%);
    margin: auto;
    .input-group {
      width: 100%;
    }
  }
}
